@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Model

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@model IQueryable<DynamicContent>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-bordered table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in Model)
                        {
                        <tr>
                            <td>@company.GetString("Name")</td>
                            <td>@Html.ActionLink(company.GetString("Name"), "Detail", new { urlName = company.UrlName})</td>
                            <td>
                                @Html.ActionLink("Tes", "Demo", new { id = company.Id }) |
                                <a href="/Demo/@company.Id">Details</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
