<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7800.0">
	<connectionStrings>
		<add connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=sf_ssiri_db;CharacterSet=utf8" providerName="" dbType="MySQL" name="Sitefinity" />
	</connectionStrings>
</dataConfig>