<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7800.0" authCookieName=".SFAUTH-SimpleSIRI" rolesCookieName=".SFROLES-SimpleSIRI" validationKey="0A905F08E0E0D1D72451502EF002F4E6BFD6B87383000E93FA0DBAB5A82AA1DA15F75A537BB40197D0ABB781C4F06586B9CE22BDFA3E93B28A172B74D5C680C6" decryptionKey="54775AFE9BE1D47FE6CF5000BF08230AEA64C68DA0CA8CF1F533440C1C1FBBA4" loggingCookieName=".SFLOG-SimpleSIRI">
	<securityTokenIssuers>
		<add key="E7E7E83C6EF30A911C7AA934CFD2ABCB114948119506F612E06D54C8FF9839D6" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="E7E7E83C6EF30A911C7AA934CFD2ABCB114948119506F612E06D54C8FF9839D6" realm="http://localhost" />
	</relyingParties>
</securityConfig>